* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body div {
    /* border: 1px solid black; */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80px;
    font-size: 25px;
    color: white;
    font-weight: 800;
    background-color: rgb(17, 138, 219);

}

.content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
}

.footer {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 10px;
    /* border: 1px solid red; */

}

.addbutton {
    background-color: #F44336;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    align-self: flex-end;
    justify-self: end;
}

.addbutton:focus {
    transform: scale(1.1);
    
}

.maincont {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;

}

.row {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {

    height: 120px;
    width: 250px;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    /* background: linear-gradient(150deg, #39ef74, #4600f1 100%); */

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,232,1) 100%);
    }
.author {
    justify-self: right;
    font-weight: lighter;
    font-size: medium;
}

.switch {
    border: 1px solid wheat;
    height: 25px;
    width: 70px;
    border-radius: 20px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

